/* styles */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container1, .container2, .container3, .subscribe, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 00px;
    flex: none;
}

/* ----------------------------------- */

.container1 {
    background-color: #1f2937;
    height: 450px;
    align-items: stretch;
}

.container1-box{
    width: 1000px;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: center;
    justify-content:  space-between;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* ----------------------------------- */

.hero-logo-container {
    display: flex;
    margin: auto;

}

.hero-container {
    flex: 1;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    height: 350px;
}

/* ----------------------------------- */

.container2 {
    flex-direction: column;
    gap: 30px;
    height: 400px;
}

.card-container {
    display: flex;
    gap: 40px;
}

.card {
    width: 200px;
    text-align: center;
}

.card-image {
    width: 150x;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
}

/* ----------------------------------- */

.container3 {
    flex-direction: column;
    height: 400px;
    background-color: red;
}

.container3-box {
    width: 800px;
}

.autor {
    text-align: right;
}

/* ----------------------------------- */

.subscribe {
    flex-direction: column;
    gap: 30px;
    height: 300px;
}

.subscribe-box {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: blue; 
    height: 150px;
}

/* ----------------------------------- */

.footer{
    height: 100px;
}